<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>userinfo</h2>

	<table>
		<tr>
			<th>firstName:</th>
			<td><%= user.firstName%></td>
		</tr>
		<tr>
			<th>lastName:</th>
			<td><%= user.lastName%></td>
		</tr>
		<tr>
			<th>Email:</th>
			<td><%= user.Email%></td>
		</tr>
		<tr>
			<th>DOB:</th>
			<td><%= user.DOB%></td>
		</tr>
		<tr>
			<th>gender:</th>
			<td><%= user.gender%></td>
		</tr>
		<tr>
			<th>age:</th>
			<td><%= user.age%></td>
		</tr>
	</table>

</body>
</html>